nav,
.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-items {
  width: 500px;
}

.nav-item {
  font-size: 18px;
  width: 110px;
  margin: 0;
  padding: 0;
}

nav {
  background-color: #e8f1ff;
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 100;
}

.link {
  text-decoration: none;
  color: rgb(89, 89, 89);
  font-family: "Poppins", "sans-serif";
  cursor: pointer;
  font-size: 18px;
}

.link:hover {
  color: black;
}

.logo--container .link {
  width: 280px;
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: black;
}

.logo--container img {
  height: 70%;
  width: 35%;
}
