/* styles/petitionsList.css */

.petionsList-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.petionsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 100px;
  margin-top: 50px;
  flex-wrap: wrap;
}

.petion-card {
  width: 400px;
  height: 210px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 10px;
  cursor: pointer;
}

.petion-card-header {
  width: 100%;
  height: 80%;
}

.petion-card-body {
  width: 100%;
  height: 20%;
}

.petion-card-body p {
  text-align: center;
  font-size: 18px;
}
.petion-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button-container {
  text-align: center;
  /* margin-top: 20px; */
}

.button-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
}
