.display-container {
  height: 87vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 200px;
}

.result-card {
  width: 400px;
  height: 450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 30px;
  background-color: #e8f1ff;
}

.profile-pic {
  width: 100%;
  height: 130px;
  margin-bottom: 10px;
}
.profile-pic img {
  width: 100%;
  height: 100%;
}
.single-result-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  margin-bottom: 5px;
}

.result-key,
.result-value {
  width: 50%;
}

.lottie-celebration1 {
  width: 400px;
  position: absolute;
  top: 100px;
  right: 100px;
}
.lottie-clap {
  width: 300px;
  position: absolute;
  top: 350px;
  right: 100px;
}

.lottie-wine {
  width: 300px;
  position: absolute;
  top: 350px;
}
.lottie-celebration3 {
  width: 400px;
  position: absolute;
  top: 100px;
}

.result-id-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.id-container {
  width: 300px;
  height: 200px;
  margin-top: 150px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
}
