.natural-form-container {
  max-width: 1300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

button {
  margin-top: 10px;
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100px;
  font-size: 20px;
}

button:hover {
  background-color: #45a049;
}

.append {
  margin-top: 20px;
  padding: 8px;
  background-color: #008cba;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.append:hover {
  background-color: #0077a8;
}

.table-column-large {
  width: 15%;
}

.table-column-small {
  width: 5%;
}

.table-column-very-small {
  width: 2%;
}

.submit-append-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit-append-container div {
  margin: 10px 10px;
}

tr {
  height: 40px;
}

select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff;
}

select option {
  font-size: 14px;
}
select:hover,
select:focus {
  border-color: #0077a8;
}

select:focus {
  outline: none;
  background-color: #f9f9f9;
}
